@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="app">
    <home-component></home-component>
</div>

@section script{
    <script src="@Url.Content("~/bundle/Home.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
 } 